.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--separator-color);
  width: 300px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  padding: 20px;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 14px;
  text-decoration: none;
  color: var(--text-color);
}

.link:hover {
  color: var(--primary-hover-color);
}

.active {
  color: var(--primary-color);
}

.user {
  margin-bottom: 46px;
  text-align: center;
}

.name {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--text-color);
}

.email {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9ea1b1;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  box-shadow: 0px 8px 40px rgba(255, 197, 42, 0.25);
}

.exit {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.content {
  flex: 1;
}

/* .cart-count {
  background: var(--primary-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  color: var(--white-color);
} */

/* .empty-cart-count {
  background: none;
  width: 25px;
  height: 25px;
} */

.navbar {
  display: grid;
  /* justify-items: center;
  align-items: center; */
  background: #6569b8;
  color: #fc86aa;
}
.auth {
  gap: 15px;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background: #6569b8;
  display: grid;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  display: flex;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6569b8;
  padding: 15px 0;
  color: white;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.mobile-menu {
  display: none;
  padding: 20px;
}

.navbar,
.footer {
  box-sizing: border-box;
}
/* Общий CSS без изменений */

/* Медиа-запрос для экранов меньше 768px (таблицы или маленькие устройства) */
@media (max-width: 767px) {
  .layout {
    display: grid;
    grid-template-rows: 100px 100px 1fr 100px 100px;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "sidebar" "content" "navbar" "footer";
    width: 100%;
  }
  .navbar {
    width: 100%;
    grid-area: navbar;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    justify-items: center;
    align-items: center;
  }
  .container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar" "content";
    width: 100%;
  }
  .content {
    width: 100%;
    grid-area: content;
    padding-bottom: 80px;
  }
  .sidebar {
    width: 100%;
    grid-area: sidebar;
  }
  .search {
    padding: 15px;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    align-items: center;
    justify-items: end;
    width: 100%;
    display: grid;
  }
  .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    padding: 20px 5px;
  }

  .footer {
    width: 100%;
    grid-area: footer;
    position: fixed;
    bottom: 0;
    display: none;
  }
}

/* Медиа-запрос для экранов от 768px до 1024px (планшеты) */
@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    width: 100%;
    grid-area: content;
    margin: 20px;
  }
}

/* Остальной CSS без изменений */
