:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #cc5c3d;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.btn-primary {
  --bs-btn-active-bg: #6569b8;
  --bs-btn-active-border-color: #5f63ac;
  --bs-btn-color: #fff;
  --bs-btn-bg: #6569b8;
  --bs-btn-border-color: #6569b8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5f63ac;
  --bs-btn-hover-border-color: #5f63ac;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5f63ac;
  --bs-btn-active-border-color: #5f63ac;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6569b8;
  --bs-btn-disabled-border-color: #6569b8;
}
