.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
  background: var(--white-color);
  border-radius: 19px;
  box-shadow: 18px 18px 36px 0px rgba(211, 209, 216, 0.25);
  width: 400px;
  margin-top: 20px;
  padding: 15px;
}

.info {
  width: 100%;
  gap: 10px;
}

.title {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: var(--text-color);
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: var(--text-secondary-color);
}
