.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--white-color);
  border-radius: 19px;
  box-shadow: 18px 18px 36px 0px rgba(211, 209, 216, 0.25);
  width: 320px;
  /* height: 500px; */
}

.header {
  position: relative;
  height: 250px;
  align-items: center;
  width: 250px;
  border-radius: 19px;
  background-size: cover;
  margin-top: 15px;
}

.info {
  padding: 12px;
  align-self: flex-start;
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  color: var(--text-color);
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: var(--text-secondary-color);
}

.price {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--white-color);
  border-radius: 19px;
  color: #111719;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}

.currency {
  color: var(--primary-color);
}

.add {
  margin-bottom: 20px;
}

.add-to-cart:hover {
  background: var(--primary-hover-color);
}

.link {
  text-decoration: none;
}
