.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 600px;
}

.add-category {
  background: rgb(45, 145, 45);
  width: 100%;
}

.remove-category {
  background: rgb(228, 45, 45);
  width: 100%;
}

.add-item {
  background: cornflowerblue;
  width: 100%;
}
.add-user {
  width: 100%;
}

.order-item {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .admin {
    width: 100%;
    padding: 20px;
  }
  .buttons {
    width: 100%;
  }
  .order-item {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .admin {
    width: 100%;
    padding: 20px;
  }
  .buttons {
    width: 100%;
  }
  .order-item {
    width: 100%;
  }
}
